*~
_*
*.o
*.d
*.asm
*.sym
*.img
.vscode/
.idea/
__pycache__/
.pytest_cache/
.DS_Store
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs/mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS